// Specific CSS for your home-page
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 50px;
  width: 70px;
}
.banner {
  // background-image: url("home-banner.jpg");
  background-size: cover !important;
  color: white;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}



