.wrapper {
 background-color: #000000;
 color: white;
 height: 100vh;
}

.container {
  background-color: #000000;
}

.card-movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.cover {
  display: flex;
  align-items: flex-start;
  padding: 50px;
}

.buy-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
