

<div class="wrapper">
<%= link_to 'My profile', profile_movies_path %>
  <div class="container movies-container">
    <h1>Index of movies</h1>

    <div class="row text-center">
      <% @movies.each do |movie| %>
        <div class="col-md-4">
          <div class="card-movie">
            <img src='https://source.unsplash.com/random' class="card-movie-cover">
            <p><%= movie.title %></p>
            <p><%= movie.duration %></p>
            <p>Directed by: <%= movie.director %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
