
<div class="wrapper">
  <div class="container">
    <div class="container-flex">
      <div class="row">
        <div class="col-md-6">
          <h3 class="new-form">Upload your movie:</h3>
          <%= render 'form1', movie: @movie %>
        </div>

        <div class="col-md-6 img-new-movie">
          <%= image_tag "add-a-movie.jpg", alt: "alttext", id: "img-new-movie"%>
        </div>
      </div>
    </div>

  </div>
</div>


