<div class="container">
  <div class="row"></div>
</div>




<h3>Nous allons vous aider à publier votre annonce.</h3>
<p>Find me in app/views/movies/new.html.erb</p>

<%= render 'form1', movie: @movie %>
