.card-movie {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-movie-cover {
  width: 300px;
  height: 250px;
  background-color: $gray;
}
.card-movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.card-link {
  opacity: 0.9;
  color: white;

}
.card-link:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.same-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#movie-title {
  font-size: 24px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#movie-title-user {

  color: red;

}

.card-movie-elements {
  padding-right: 20px;
  padding-left: 20px;
}

span.stars, span.stars span {
    display: block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

